{
  "singleQuote": true,
  "trailingComma": "all",
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "parser": "flow",
      "usePrettierrc": false,
      "endOfLine": "auto"
    }
  ]
}